.navBar{
    display: flex;
    position: fixed;
    top: 0;
    background:linear-gradient(to right,rgb(0,160,255),#00a);
    width: 100%;
    justify-content:space-between;
    align-items: center;
    height: 6rem;
    z-index: 3;
}

.navBar h1{ 
    color: #fff;
    margin-left: 40px;
    font-weight: 1000;
}

.navBar ul{
    display: flex;
    width: 20%;
    justify-content:space-evenly;
    align-items: center;
    list-style-type: none;
    margin-left: 3rem;
}

.navBar ul li{
    display: flex;    
    font-weight: 1000;
}

.link{
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 0.6rem;
    text-decoration: none;
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
}

.link{
    transition: transform 0.2s ease-in-out;
}

.link:hover{
    transform: scale(1.09);
    color: #FFF;
}